<section fxLayout fxLayoutAlign="center" class="new-training">
  <form (ngSubmit)="startNewTraining(f)" #f="ngForm">
    <mat-card  fxFlex="400px" fxFlex.lt-md="100%">
      <mat-card-title fxLayoutAlign="center">New Training</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async )">
          <mat-select placeholder="Favourite Exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises$ | async " [value]="exercise">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoading$ | async )"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async ) && exercises$ | async" fxLayoutAlign="center">
        <button mat-button type="submit" [disabled]="f.invalid">Train</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="(isLoading$ | async )" fxLayoutAlign="center">
        <button mat-button type="button" (click)="fetchExercises()">fetch again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
