<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggle()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/login">LOGIN</a></li>
      <li *ngIf="!isAuth"><a routerLink="/signup">SIGNUP</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">TRAINING</a></li>
      <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">LOGOUT</a></li>
    </ul>
  </div>
</mat-toolbar>
